header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
}

header nav {
  display: flex;
}

header li a {
  color: rgb(87, 194, 45);
}

header li {
  margin: 0 15px;
}

header li:first-child {
  margin-left: 0;
}

header li:last-child {
  margin-right: 0;
}

.logo {
  max-width: 256px;
}

@media (max-width: 700px) {
  header {
    flex-direction: column;
  }
  .logo {
    width: 200px;
  }
}
