<section class="conheca-o-game">
  <h3>Conheça o jogo Yu-Gi-Oh!</h3>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit necessitatibus libero voluptatibus quis tempore deserunt vel ducimus? Nihil voluptates ducimus ea fuga provident aspernatur nemo, tenetur eos expedita numquam repudiandae!</p>

  <hr>
  <ul class="grid">
    <li class="small" style="background-image: url('assets/img/01 - yugioh.png')" ></li>
    <li class="large" style="background-image: url('assets/img/02 - yugioh.png')"></li>
    <li class="large" style="background-image: url('assets/img/03 - yugioh.png')"></li>
    <li class="small" style="background-image: url('assets/img/04 - yugioh.png')"></li>
  </ul>
</section>
