.conheca-o-game {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 50px;
}

.conheca-o-game h3 {
  font-size: 2rem;
  margin-bottom: 35px;
}
.conheca-o-game p {
  max-width: 800px;
  margin-bottom: 35px;
}
.conheca-o-game hr {
  width: 200px;
  height: 2px;
  background-color: #00ff0f;
  border: none;
}

.conheca-o-game .grid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.conheca-o-game .grid li {
  height: 350px;
  padding: 20px;
  border-radius: 4px;
  background-clip: content-box;
  background-size: cover;
  background-position: center;
}

.conheca-o-game .grid li.small {
  flex-basis: 40%;
}
.conheca-o-game .grid li.large {
  flex-basis: 60%;
}

@media (max-width: 700px) {
  .conheca-o-game .grid li.large, .conheca-o-game .grid li.small {
    flex-basis: 100%;
  }
}
