<section class="caracteristicas">
  <h3>Melhor jogo de cartas</h3>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatum illum maxime quas ad quaerat aliquam, tenetur repudiandae laudantium iusto ipsum ipsa suscipit impedit sequi voluptatem nisi iure corrupti provident officia.</p>
  <hr>
  <ul class="grid">
    <li>
      <img src="assets/img/Millenium items/Milennium_Key_Icon-512.png" alt="">
      <h4>Chave do Milenio</h4>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia illo, rerum culpa non cum dolore dolores fuga pariatur mollitia voluptates molestias commodi, placeat, optio asperiores voluptas adipisci quisquam? Cupiditate, voluptas?</p>
    </li>
    <li>
      <img [src]="imgRender" (mouseover)="onMouseOver()" (mouseleave)="onMouseLeave()" alt="">
      <h4>Enigma do Milenio</h4>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia illo, rerum culpa non cum dolore dolores fuga pariatur mollitia voluptates molestias commodi, placeat, optio asperiores voluptas adipisci quisquam? Cupiditate, voluptas?</p>
    </li>
    <li>
      <img src="assets/img/Millenium items/Milennium_Rod_Icon-512.png" alt="">
      <h4>Bastão do Milenio</h4>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia illo, rerum culpa non cum dolore dolores fuga pariatur mollitia voluptates molestias commodi, placeat, optio asperiores voluptas adipisci quisquam? Cupiditate, voluptas?</p>
    </li>
  </ul>
</section>
