.caracteristicas {
  background-color: steelblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 50px;
}

.caracteristicas h3 {
  font-size: 2rem;
  margin-bottom: 35px;
  text-align: center;
}
.caracteristicas p {
  max-width: 800px;
  margin-bottom: 35px;
  text-align: center;
}
.caracteristicas hr {
  width: 200px;
  height: 2px;
  background-color: #00ff0f;
  border: none;
}

.caracteristicas .grid {
  background-color: rgb(33, 78, 116);
  width: 100%;
  display: flex;
}

.caracteristicas .grid li {
  padding: 0 30px;
  text-align: center;
}

.caracteristicas .grid li i {
  color: #c3c63b;
  font-size: 3.5rem;
  margin-bottom: 30px;
}

.caracteristicas .grid li h4 {
  font-size: 1.5rem;
  color: #c3c63b;
  margin-bottom: 30px;
}

.caracteristicas .grid li p {
  color: #fff;
}

li img {
  margin-top: 10px;
  max-height: 50px;
  margin-bottom: 30px;
}

@media (max-width: 850px) {
  .caracteristicas .grid {
    display: flex;
    flex-direction: column;
  }
  .caracteristicas .grid li:nth-child(2) {
    border: 1px dashed #c3c63b;
    order: -1;
  }
}
